.header{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //padding: 0 5.56vw;
  width: 100%;
  height: 16.67vw;
  background: #fff;
  z-index: 5;

  &.scroll {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0.56vw 1.39vw rgba(0, 0, 0, 0.05);
  }

  a, button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16.67vw;
    height: 16.67vw;

    img {
      width: 8.33vw;
      object-fit: contain;
    }
  }

  .btn-back{
    img{
      width: 4.2vw;
    }
  }

  .btn-address{
    flex-shrink: 1;
    width: 100%;
    height: auto;
    font-size: 3.89vw;
    text-align: center;

    &::after{
      content: '';
      display: inline-block;
      margin-bottom: 0.56vw;
      margin-left: 1.11vw;
      width: 2.78vw;
      height: 1.81vw;
      background: url('../../../public/resource/img/common/ico_arrow_down.png') no-repeat center/contain;
      vertical-align: middle;
      //@include bg('common/ico_arrow_down.png');
    }
  }

  .logo{
    //display: inline-block;
    //width:48px;
  }

  .btn{
    //&-back{
    //  display: inline-block;
    //  width: 48px;
    //}
    //
    //&-cart{
    //  display: inline-block;
    //  width: 48px;
    //}
  }

  .head-tit{
    font-size: 4.56vw;
    font-weight: 500;
  }
}