@import "./base/variables";
@import "./base/mixins";

.inp{
  &.search{
    display: flex;
    align-items: center;
    margin-bottom: 8.33vw;
    height: 13.89vw;
    border-bottom: 0.42vw solid $c-gray2;

    .input-area {
      width: 90%;
      font-size: 3.89vw;

      input{
        width: 100%;

        &::placeholder {
          color: $c-gray4;
        }
      }

    }
    .btn-search {
      margin-left: auto;
      width: 8.33vw;
      height: 8.33vw;
      @include bg('common/ico_search1.png', center, 5.00vw auto);
    }
  }
}

.find-address {
  a::before {
    content: '';
    display: inline-block;
    margin-right: 1.67vw;
    width: 5.00vw;
    height: 5.00vw;
    @include bg('common/ico_location1_w.png', center, cover);
  }
}

@media (min-width: 1080px) {
  .inp{
    &.search{
      margin-bottom: 60px;
      height: 100px;
      border-bottom-width: 3px;

      .input-area {
        width: 90%;
        font-size: 28px;
      }
      .btn-search {
        width: 60px;
        height: 60px;
        background-size: 36px auto;
      }
    }
  }

  .find-address {
    a::before {
      margin-right: 12px;
      width: 36px;
      height: 36px;
    }
  }
}
