@import "./base/variables";

.btn{
    button, a {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
    }

    &-s{
        height: 11.11vw;
        font-size: 3.33vw;
        font-weight: 500;
        border-radius: 6.17vw;
    }

    &-m{
        height: 13.89vw;
        font-size: 4.44vw;
        border-radius: 8.44vw;
    }

    &.bg-white{
        color: $c-white;
        background-color: $c-blue;
    }

    &.primary{
        color: $c-white;
        background-color: $c-blue;
    }

    &.sub-primary{
        color: $c-blue;
        background-color: $c-white;
    }
    &.line{
        border: 0.28vw solid $c-blue;
        color: $c-blue;
    }

}