@import "./base/mixins";

.event-list {
	margin: 8.33vw 0;

	> li {
		width: 100%;
		height: 34.39vw;
		overflow: hidden;
		border-radius: 2.78vw;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}

		+ li {
			margin-top: 4.17vw;
		}

		img {
			width: 100%;
		}
	}
}

.event-detail{
	.tit{
		padding: 20px 0;

		h2{
			font-size: 36px;
			font-weight: 700;
			word-break: keep-all;
		}
		p{
			margin-top: 12px;
			font-size: 28px;
			color: #666;
		}
	}
	.info{
		position: relative;
		margin: 0 -5.56vw;
		border-top: 0.28vw solid #ddd;
	}
}

.partner-list {
	margin: 11.11vw 0;

	li {
		position: relative;
		width: 100%;
		padding: 10.33vw;
		border-radius: 2.78vw;
		box-shadow: 0 0.56vw 1.39vw rgba(0, 0, 0, 0.1);

		+ li {
			margin-top: 5.56vw;
		}

		> .tag.percent {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 8.89vw;
			height: 8.89vw;
			font-size: 2.78vw;
			font-weight: 500;
			color: #fff;
			background: #41b6e5;
			border-radius: 0 50% 50% 50%;
		}
	}
	.img {
		margin: 0 auto;
		width: 80%;

		img {
			width: 100%;
		}
	}
	.txt {
		margin-top: 6.94vw;

		dt {
			margin-bottom: 4.17vw;
			padding-right: 8.33vw;
			font-size: 4.44vw;
			font-weight: 700;
		}

		dd {
			font-size: 3.33vw;
			font-weight: 200;
			color: #666;
			line-height: 1.3;

			> span {
				display: inline-block;
				margin-left: 1.39vw;
				font-weight: 500;
				color: #222;
			}

			+ dd {
				margin-top: 1.39vw;
			}
		}
	}

}
