@import "./base/mixins";
@import "./base/variables";

.inp-radio{
    input{
        @include blind;
    }

    .inp-label{
        display: flex;
    }
}

.inp-checkbox{
    input{
        @include blind;
    }

    .inp-label{
        display: flex;

        .icon-check{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2.78vw auto 0;
            width: 5.56vw;
            height: 5.56vw;
            background: $c-gray1;
            border-radius: 50%;
            transition: 0.2s;

            &::after {
                content: '';
                display: block;
                width: 3.33vw;
                height: 3.33vw;
                @include bg('/common/ico_check.png');
            }
        }
    }

    :checked ~ .inp-label{
        .icon-check{
            background: $c-blue;
        }
    }
}

@media (min-width: 1080px) {
    .inp-checkbox{
        .inp-label{
            .icon-check{
                margin: 20px auto 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                transition: 0.2s;

                &::after {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}