.wrap {
    position: relative;
    overflow: hidden;
    padding: 16.67vw 0;
    height: 100vh;
}

.container {
    overflow: hidden auto;
    padding: 0 5.56vw;
    //padding-bottom: 8.33vw;
    height: calc(100vh - 33.34vw);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &.no-bottom{
        height: calc(100vh - 16.67vw);
    }
}

.inner {
    padding: 0 5.56vw;
}