@import "./base/mixins";

.main-order{
    margin: 13.89vw 0;

    .tit{
        margin-bottom: 40px;
        padding: 0 13.89vw;
        font-weight: 100;
        font-size: 8.89vw;
        line-height: 1.3;
        word-break: keep-all;
    }

    .btn-order{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8.33vw auto;
        width: 88.89vw;
        height: 88.89vw;
        border-radius: 50%;
        background: #f8f8f8;

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 70%;
            height: 70%;
            font-size: 3.89vw;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &::before{
                content: '';
                display: block;
                margin: 0 auto 2.78vw;
                width: 6.67vw;
                height: 6.67vw;
                @include bg('common/ico_plus.png');
            }
        }
    }
}