@import "./base/variables";
@import "./base/mixins";


.login-info{
    margin-left: -5.56vw;
    padding: 11.12vw 5.56vw;
    width: calc(100% + 11.12vw);
    background-color: $c-blue;

    .title{
        margin-bottom: 5.56vw;
        color: $c-indigo;
        font-size: 7.22vw;
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
    }

    .btn-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.44vw;
    }
}

.cart-info {
    padding: 11.11vw 0 0;

    .tabMenu {
        border-radius: 2.17vw;

        li {
            a {
                color: #bbb;
            }

            &.active {
                background: #fff;
                border: 0.28vw solid #41b6e5;
                border-radius: 2.17vw 0 0 2.17vw;

                a {
                    font-weight: 500;
                    color: #41b6e5;
                }
            }
        }
    }
}

.cart-list {
    padding-bottom: 36vw;
    li {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5.56vw;
        padding: 5.56vw;
        border-radius: 4.17vw;
        box-shadow: 0 0 0.56vw rgba(0, 0, 0, 0.15);
        opacity: 1;
        transition: all 0.3s;

        &.remove{
            opacity: 0;
        }
    }

    img {
        position: relative;
        overflow: hidden;
        flex-basis: 15%;
        margin-top: -1.39vw;
        height: 11.67vw;
    }

    .txt-con {
        flex-basis: 82%;
        margin-left: 3%;

        p {
            margin-bottom: 2.78vw;
            padding: 1.39vw 0;
            font-size: 4.44vw;
            font-weight: 500;

            .count{
                margin-left: 1.39vw;
            }
        }

        dl {
            display: flex;
            font-size: 3.33vw;

            dt {
                margin-right: 2.78vw;
                flex-shrink: 0;
                width: 20%;
                color: #666;
                line-height: 1.5;
            }

            dd {
                line-height: 1.5;
                word-break: keep-all;
            }

            + dl {
                margin-top: 0.69vw;
            }
        }
    }

    .btn-delete {
        position: absolute;
        top: 5.56vw;
        right: 5.56vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.67vw;
        height: 6.67vw;

        &::after {
            content: '';
            display: block;
            width: 4.44vw;
            height: 4.44vw;
            @include bg('common/ico_del.png', center, contain);
        }
    }

    .price-con {
        margin: 5.56vw 0 0 auto;

        span {
            font-size: 3.33vw;
        }

        .origin_price {
            position: relative;
            display: inline-block;
            padding: 0 0.42vw;
            font-family: $roboto;
            font-size: 3.33vw;
            font-weight: 400;
            color: #bbb;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 100%;
                height: 0.28vw;
                background: #bbb;
            }
        }

        .sale_percent {
            font-family: $roboto;
            margin: 0 1.67vw 0;
        }

        .price {
            font-family: $roboto;
            font-size: 3.33vw;
            font-weight: 500;
        }
    }
}

.cart-empty {
    padding: 11.11vw 0;

    p {
        margin-bottom: 8.33vw;
        font-size: 3.33vw;
        font-weight: 300;
        color: #999;
        text-align: center;

        &::before {
            content: '';
            margin: 2.78vw auto 5.56vw;
            display: block;
            width: 66.53vw;
            height: 32.36vw;
            @include bg('common/ico_empty_cart.png');
        }
    }

    .btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.cart-total-price{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 5.56vw;
    border-top: 0.14vw solid #ddd;
    background-color: $c-white;

    .price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.33vw 0;
        font-size: 3.33vw;

        span{
            font-family: $roboto;
            font-size: 5.56vw;
            font-weight: 700;
        }
    }
    .btn-all-order{
        margin: 0 -5.56vw;
        border-radius: 0;
    }
}