@import "./base/variables";
@import "./base/mixins";

.login-info{
    margin-left: -5.56vw;
    padding: 11.12vw 5.56vw;
    width: calc(100% + 11.12vw);
    background-color: $c-blue;

    .title{
        margin-bottom: 5.56vw;
        color: $c-indigo;
        font-size: 7.22vw;
        font-weight: 100;
        line-height: 1.3;
        text-align: center;
    }

    .btn-wrap{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.44vw;
    }
}

.cart-info {
    padding: 11.11vw 0 0;

    .tabMenu {
        border-radius: 2.17vw;

        li {
            a {
                color: $c-gray2;
            }

            &.active {
                background: $c-white;
                border: 0.28vw solid $c-blue;
                border-radius: 2.17vw 0 0 2.17vw;

                a {
                    font-weight: 500;
                    color: $c-blue;
                }
            }
        }
    }
}
.cart-list-box{
    padding-bottom: 36vw;

    .cart-list {

    li {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5.56vw;
        padding: 5.56vw;
        border-radius: 4.17vw;
        box-shadow: 0 0 0.56vw rgba(0, 0, 0, 0.15);
        opacity: 1;
        transition: all 0.3s;

        &.remove{
            opacity: 0;
        }
    }

    img {
        position: relative;
        overflow: hidden;
        flex-basis: 15%;
        margin-top: -1.39vw;
        height: 11.67vw;
    }

    .txt-con {
        flex-basis: 82%;
        margin-left: 3%;

        p {
            margin-bottom: 2.78vw;
            padding: 1.39vw 0;
            font-size: 4.44vw;
            font-weight: 500;

            .count{
                margin-left: 1.39vw;
            }
        }

        dl {
            display: flex;
            font-size: 3.33vw;

            dt {
                margin-right: 2.78vw;
                flex-shrink: 0;
                width: 20%;
                color: $c-gray4;
                line-height: 1.5;
            }

            dd {
                line-height: 1.5;
                word-break: keep-all;
            }

            + dl {
                margin-top: 0.69vw;
            }
        }
    }

    .btn-delete {
        position: absolute;
        top: 5.56vw;
        right: 5.56vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.67vw;
        height: 6.67vw;

        &::after {
            content: '';
            display: block;
            width: 4.44vw;
            height: 4.44vw;
            @include bg('common/ico_del.png', center, contain);
        }
    }

    .price-con {
        margin: 5.56vw 0 0 auto;

        span {
            font-size: 3.33vw;
        }

        .origin_price {
            position: relative;
            display: inline-block;
            padding: 0 0.42vw;
            font-family: $roboto;
            font-size: 3.33vw;
            font-weight: 400;
            color: $c-gray2;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: block;
                width: 100%;
                height: 0.28vw;
                background: $c-gray2;
            }
        }

        .sale_percent {
            font-family: $roboto;
            margin: 0 1.67vw 0;
        }

        .price {
            font-family: $roboto;
            font-size: 3.33vw;
            font-weight: 500;
        }
    }
}
    .btn-add-order{
        margin-top: 4.17vw;
        border-radius: 2.78vw;
    }
}

.cart-empty {
    padding: 11.11vw 0;

    p {
        margin-bottom: 8.33vw;
        font-size: 3.33vw;
        font-weight: 300;
        color: $c-gray4;
        text-align: center;

        &::before {
            content: '';
            margin: 2.78vw auto 5.56vw;
            display: block;
            width: 66.53vw;
            height: 32.36vw;
            @include bg('common/ico_empty_cart.png');
        }
    }

    .btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.cart-total-price{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 5.56vw;
    border-top: 0.14vw solid $c-gray1;
    background-color: $c-white;

    .price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.33vw 0;
        font-size: 3.33vw;

        span{
            font-family: $roboto;
            font-size: 5.56vw;
            font-weight: 700;
        }
    }
    .btn-all-order{
        margin: 0 -5.56vw;
        border-radius: 0;
    }
}

@media (min-width: 1080px) {
    .login-info{
        margin-left: -40px;
        padding: 80px 40px;
        width: calc(100% + 80px);

        .title{
            margin-bottom: 40px;
            font-size: 52px;
        }

        .btn-wrap{
            gap: 32px;
        }
    }

    .cart-info {
        padding: 80px 0 0;

        .tabMenu {
            border-radius: 16px;
            li {
                &.active {
                    border-width: 2px;
                    border-radius: 16px 0 0 16px;
                }
            }
        }
    }
    .cart-list-box{
        padding-bottom: 260px;

        .cart-list {
            li {
                margin-top: 40px;
                padding: 40px;
                border-radius: 30px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
            }

            img {
                margin-top: -10px;
                height: 84px;
            }

            .txt-con {
                p {
                    margin-bottom: 20px;
                    padding: 10px 0;
                    font-size: 32px;

                    .count{
                        margin-left: 10px;
                    }
                }

                dl {
                    font-size: 24px;
                    dt {
                        margin-right: 20px;
                    }

                    + dl {
                        margin-top: 5px;
                    }
                }
            }

            .btn-delete {
                top: 40px;
                right: 40px;
                width: 48px;
                height: 48px;

                &::after {
                    width: 32px;
                    height: 32px;
                }
            }

            .price-con {
                margin: 40px 0 0 auto;

                span {
                    font-size: 24px;
                }

                .origin_price {
                    padding: 0 3px;
                    font-size: 24px;

                    &::after {
                        height: 2px;
                    }
                }

                .sale_percent {
                    margin: 0 12px 0;
                }

                .price {
                    font-size: 24px;
                }
            }
        }
        .btn-add-order{
            margin-top: 30px;
            border-radius: 20px;
        }
    }

    .cart-empty {
        padding: 80px 0;

        p {
            margin-bottom: 60px;
            font-size: 24px;

            &::before {
                margin: 20px auto 40px;

                width: 480px;
                height: 232px;
            }
        }
    }

    .cart-total-price{
        padding: 0 40px;
        border-top-width: 1px;

        .price{
            padding: 24px 0;
            font-size: 24px;

            span{
                font-size: 40px;
            }
        }
        .btn-all-order{
            margin: 0 -40px;
            border-radius: 0;
        }
    }
}