@import "./base/variables";

.popup-wrap{
    overflow: hidden auto;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 6.67vw;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;

    &.open{
        display: flex;
    }

    .popup-inner{
        padding: 8.33vw 5.56vw;
        width: 100%;
        background-color: $c-white;
        border-radius: 5.56vw;
        box-shadow: 0 2.78vw 4.17vw rgba(0,0,0,0.1);
        box-sizing: border-box;

        .txt{
            margin-bottom: 5.56vw;
            font-size: 4.44vw;
            font-weight: 500;
            line-height: 1.3;
            text-align: center;
        }
        .popup-btn{
            display: flex;

            .btn{
                flex: 1;

                + .btn{
                    margin-left: 2.78vw;
                }
            }
        }
    }
}

@media (min-width: 1080px) {
    .popup-wrap{
        padding: 0 48px;

        .popup-inner{
            padding: 60px 40px;
            border-radius: 40px;
            box-shadow: 0 20px 30px rgba(0,0,0,0.1);

            .txt{
                margin-bottom: 40px;
                font-size: 32px;
            }
            .popup-btn{
                .btn{
                    + .btn{
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}