@charset "UTF-8";
@import "_variables.scss";

//font
html{
  &[lang="ko-KR"], &[lang="ko"]{
    font-family: $font-family-ko;
  }
  body{
    font-size: $body-fz;
    font-weight: 400;
    line-height: $line-height;
    color: $base-color;
  }
  &[lang="en"], *[lang="en"]{
    font-family: $font-family-en;

    body{
      font-size: $body-fz;
      font-weight: 400;
    }
  }
}

img{
  width: 100%;
}

//color
.c-red{
  color: $c-red !important;
}
.c-white{
    color: $c-white !important;
}
.c-blue{
    color: $c-blue !important;
}
.c-indigo{
    color: $c-indigo !important;
}

//font-style
.bold{
  font-weight: 700;
}

/* blind */
.blind {
  display: none;
  overflow: hidden;
  border: 0;
  position: relative;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}