@charset "UTF-8";

@mixin bg($url, $pos:center, $size:cover){
  background: url('../../public/resource/img/'+ $url) no-repeat $pos / $size;
}

@mixin blind{
  display: none;
  overflow: hidden;
  border: 0;
  position: relative;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}